# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE
/idea
*.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.iml
/.idea/
/out/
*.properties
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/BUS/Business Logic Layer
build/classes/DAO/Data Access Object - Data Access Layer
build/classes/DTO/Data Tranfer Object
build/classes/GUI/Presentation Layer
*.mf

